
.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { grid-area: right; }
.item4 { grid-area: section1; }
.item5 { grid-area: section2; }
.item6 { grid-area: section3; }
.item7 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'section1'
        'section2'
        'section3'
        'footer';
}

html, body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html {}

body {
    width: 80%;
    margin: 0 auto;
}

header {


}

#header-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 16px;
}

header img {
    width: 39px;
    height: 34px;
    left: 0;
    top: 25px;
    position: relative;
}

header h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    word-wrap: break-word
}

#section1 {

}

#section1-container {
    display: flex;
    width: 80%;
    align-items: center;
}

#section1-left {
    flex: 50%;
}

#section1-whitebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.90);
    margin: 0 auto;
    width: 70%;
    border-radius: 12px;
}

#section1-whitebox h2 {
    font-weight: 700;
    font-size: 5em;
    margin: 0;
}

#section1-whitebox h3 {
    font-size: 1.5em;
    font-weight: 400;
}

#section1-buttons-container {
    display: flex;
    gap: 10px;
    height: 100px;
}

#section1-right {
    flex: 50%;
}

#section1-right img {
    min-width: 466px;
    height: 446px;
}

#section2 {
    background: #5B2BC9;
}

#section2-container {
    width: 80%;
    margin: 0 auto;
}

#section2-upper {
    color: white;
    padding-top: 80px;
    padding-bottom: 40px;
}

#section2-upper h2 {
    font-size: 4em;
    margin: 0;
}

#section2-upper h3 {
    font-size: 1.5em;
    margin: 0;
}

#section2-lower {
    display: flex;
    height: 100%;
    color: white;
    padding-bottom: 60px;
    gap: 5%;
}

#section2-lower div { }
#section3 {
/*    padding: 100px 100px 100px 127px;*/
    background: #428ADC;
    height: 300px;
}

#whitebox1 {
    /*padding: 42px;*/
    background: white;
    border-radius: 12px;
    width: 75%;
    height: 180px;
    margin: 60px auto auto;
    display: flex;
    align-items: center;
    text-align: center;
    /*vertical-align: center;*/
}

#whitebox1-left {
    flex: 50%;
}

#whitebox1-right {
    flex: 50%;
}

#whitebox1-right button {
    padding: 8px 24px;
    border: 1px #94A3B8 solid;
    gap: 4px;
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    word-wrap: break-word;
}

footer {
    display: flex;
    flex-direction: row;
    height: 150px;
}

#footer-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

#footer-left {
    flex: 30%;
}

#footer-right {
    flex: 70%;
    display: flex;
    flex-direction: column;
}

.bg-purple {
    background: #5B2BC9;
}

.bg-white {
    background: white;
}

.white-border {
    border: 1px #94A3B8 solid;
}

.white {
    color: white
}

.purple {
    color: #5B2BC9
}

.button {
    text-align: center;
    height: 40px;
    padding: 0.3em 1.2em;
    /*margin-left: 1em;*/
    border-radius: 8px;
    /*box-sizing: border-box;*/
    flex-shrink: 0;
    font-weight: 700;
}

.circle {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
}

.flex50 {
    flex: 50%;
}

.flex33 {
    flex: 33%;
}

.fdirection {
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .fdirection {
        flex-direction: column !important;
    }
    .flex50 {}
    /*.flex33 {}*/
}
